<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyz.blink.mapper.LikeBlinkMapper">

    <select id="selectMapByUserIdAndBlinkIdList" resultType="integer">
        select blink_id
        from like_blink where user_id = #{userId} and blink_id in
        <foreach collection="blinkIdList" item="blinkId" open="(" separator="," close=")">
            #{blinkId}
        </foreach>
        and deleted = 0
        ;
    </select>

</mapper>